#back-div {
    text-align: right;
    margin-top: 20px;
    margin-right: 15px;
}

#message-response-data {
    /*border: 1px solid red;*/
    padding: 0px;
    margin: 0px;
}

#response-header {
    /*border: 1px solid blue;*/
    background-color: #2d2d2d;
    color: #fff;
    padding-top: 10px;
    padding-left: 50px;
}

.language-json.line-numbers {
    margin-top: 0px;
    margin-bottom: 0px;
}

.container-fluid.overflow-auto {
    padding-left: 0px;
    padding-right: 0px;
}

.sidebar-menu-item:hover {
    background-color: #0D6EFD !important;
    color: #fff !important;
    cursor: pointer;
}

.sidebar-menu-item.active {
    background-color: #0D6EFD !important;
    color: #fff !important;
}

#tools-div {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

#tools-input {
    width: 325px;
}

#invoke-input {
    margin-top: 10px;
}

.tools-div {
    padding-top: 10px;
}

.hidden {
    display: none;
}

.smooth {
    transition: all 1s ease-in;
}

#all-li {
    margin-bottom: 10px;
}
